.project {
  width: 100%;
  height: calc(100vh - 100px);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.project h1 {
  margin-top: 50px;
  color: #fff;
  font-size: 35px;
}

.project img {
  width: 700px;
  border-radius: 10px;
}

.project p {
  font-size: 20px;
}

.project svg {
  font-size: 60px;
  color: #fff;
}

.links {
  display: flex;
  justify-content: space-between;
  width: 20%;
}

.flat-button {
  color: #010B11;
  font-size: 13px;
  font-weight: 400;
  letter-spacing: 4px;
  font-family: sans-serif;
  text-decoration: none;
  padding: 10px 18px;
  border: 1px solid #010B11;
  margin-top: 25px;
  float: left;
  animation: fadeInAnimation 1s 1.8s backwards;
  white-space: nowrap;

  &:hover {
      background: #010B11;
      color: #333;
    }
}